{
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": ["prettier", "eslint:recommended"],
  "plugins": ["prettier"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "semi": ["warn", "always"],
    "no-unused-vars": "warn",
    "indent": [0, "tab"],
    "no-tabs": 0,
    "no-alert": "off",
    "no-use-before-define": "warn",
    "no-console": "off",
    "no-param-reassign": "warn",
    "strict": [1, "global"]
  }
}

